.li-education-list {
  margin: 50px 0px; /* Optional: spacing between items */
  text-align: left;
}

.a-label-link {
  color: black;
  text-decoration: none; /*Removes underline on links */
  transition: color 0.1s ease; /*Smooth transition for color change */
}

.a-label-link:hover {
  color: #a18f8f;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adds a subtle text shadow */
}

.list-text-education {
  background-color: none;
  color: #000000;
  text-align: left;
  padding: 0px 0;
  font-size: medium;
  font-family: Arial, sans-serif;
}    

.list-text-bold {
  background-color: none;
  color: #000000;
  text-align: left;
  padding: 0px 0;
  font-size: medium;
  font-family: Arial, sans-serif;
  font-weight: bold;
}    